h1,h3,.text1,.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    text-align: center;
        padding-bottom: 30px;
        padding-top: 70px;
     
      }
    h3{
        padding-left: 30px;
    }
    
    .text1{
        padding-top: 15px;
        margin-bottom: 25px;
        text-align: justify;
        text-indent: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

.text{
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 15px;
    max-width: 430px;
    text-align: justify;
    font-size: 18px;
    
    
}

.image{
    width: 60%;
    height: 60%;
    float: right;
}
.text-center{
    text-align: center;
}

  


