h1,h3,.text1,.text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
h1{
    text-align: center;
        padding-bottom: 30px;
        padding-top: 130px;
     
      }
    h3{
        padding-left: 30px;
    }
    
    .text1{
        padding-top: 15px;
        margin-bottom: 25px;
        text-align: justify;
        text-indent: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

.text{
    padding-top: 15px;
    text-indent: 20px;
    padding-left: 20px;
    padding-right: 15px;
    max-width: 430px;
    text-align: justify;
    font-size: 17px;
    
}

.image{
    width: 100%;
    height: 50%;
    float: right;
}
.text-center{
    text-align: center;
}
.navbar-brand{
    padding-left: 15px;
}
.photo{
    width: 3%;
    height: 1%;
      float: left;
      padding-right: 15px;
  }
  


/* ----------------------wave-------------------- */


  
  .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background-color:#10707f;
    transform: scale(1, 1);
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 80%;
    width: 80%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    right: -26%;
    top: 20px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color:#10707f;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}

