
body {
    background-image: url('snimki/salon-image-2.jpg' );
    background-size: cover;
    background-repeat: no-repeat;
  overflow: hidden;
  }

   .navbar-brand{
    padding-left: 15px;
}
.text-center{
  text-align: center;
}
.photo{
    width: 4%;
    height: 2%;
    float: left;    
    padding-right: 15px;
} 
.button{
    padding-top: 10px;
    font-family: 'Raleway', sans-serif;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(6, 95, 105);
    cursor: pointer;
    border-radius: 80px;
    animation: 0.5s fadeIn forwards;
}


.container{
  align-items: center;
  justify-content: center ;
  display: flex;
  padding-top: 290px ;
  
}
