.img-fluidd{
    width: 101%;
    height: 80%;
    border-radius: 5px;
}

.img-flud{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

h3,p,ul{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.my-33{
    padding-top: 50px;
}

.my-4, .my-3{
    text-align: center;
}

.custom li{
    padding-bottom: 40px;
}
.custom > li:first-child{
    padding-top: 40px;
}


.p1{
    text-indent: 15px;
    text-align: justify;
    font-size: 18px;
}

.fig:hover, a:hover{
    color: black;
    text-decoration: none;
    transition: 0.5 ease;
}

a{
text-decoration: dashed;
color: #6b868a;
}

.fig{ 
    text-align: center;
    padding-top: 10px;
}

  
  .wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background-color:#10707f;
    transform: scale(1, 1);
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 80%;
    width: 80%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    right: -26%;
    top: 20px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color:#10707f;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}
