.title{
    display: flex;
    justify-content: center;
    text-transform:capitalize;
    margin-top: 10px;
}
.subtitle{
    display: flex;
    justify-content: center;
    margin-top: 350px;
}
.redirect{
    margin-left: 4px;
    border-bottom: 1px solid rgb(42, 42, 42);
    width: 30px;
}