.wave {
    display: block;
    position: relative;
    height: 40px;
    width: 100%;
    background-color:#10707f;
    transform: scale(1, 1);
}

.wave:before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 80%;
    width: 80%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    right: -26%;
    top: 20px;
}

.wave:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 300px;
    background-color:#10707f;
    left: -25%;
    top: -240px;
    clip-path: ellipse(100% 15% at -15% 100%);
}
