
<!DOCTYPE html>
<html lang="en">


<head>

  <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate, max-age=0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
  
          <meta charset="UTF-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>За Проекта - UktcBeautySalon</title>
 
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      

            <link rel="stylesheet" type="text/css" href="aboutus.css?v=21">
            <link rel="stylesheet" href="wave.css">
<body>
  
  <?php 
  include ("navbar.html"); 
  ?>


      <div class="wave"></div>

<h1>Научи повече за нас</h1>

<div class="wrapper">
  <img src="snimki/4us.jpg" class="image">
  <div class="text-box">

 
<h3>Кои сме ние?</h3>

<p class="text"> UktcBeautySalon е училищен проект, който има за цел да разработи по-лесното и достъпно предлагане на козметичните услуги в салоните за красота в България. Екипът, сформиран от различни индивуалисти, се гради бавно и постепенно 

    Тук в UktcBeautySalon успяхме да постигнем неразривна хармония между нашите специалисти не само като такива, но и като личности и взаимодействие помежду си. Приятната и отпускаща атмосфера в нашето студио се дължи именно на тази хармония
  
Специалистите във всяка област непрестанно обновяват своите знания, умения и търсят развитие на предлаганите услуги и процедури 
  
Участията в различни обучения, семинари и курсове гарантира използването на последните най-ефективни методи и най-желани тенденции 
  
Оставяйки се в нашите ръце получавате грижа, внимание,  качество и удовлетвореност.
  
Заповядай!

</p>  
</div> 
 </div>

         


     

          
        <p class="text1"> Това е примерно описание на страницата, което може да се модифицира според индивидуалните желания на клиента. </p>

        <?php 
        include ("footer.html");
        ?>
</body>
</html>