<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UktcBeautySalon - Блог</title>
    <link rel="icon" type="image/x-icon" href="snimki/favicon.jpg.avif">

</head>
<style>
  h1, h4, p {
    text-align:left;
    margin-left: 100px; 
    margin-right: 500px;
    
}
img {
    float: right;
    margin-left: 100px;
}
   p{
    font-family:Arial, Helvetica, sans-serif ;
   }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>
    
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="snimki/logo.png" class="rounded float-left" alt="uktclogo" width="40" height="40"style="vertical-align:middle;margin:6px 0px">
    <a class="navbar-brand" href="index.html">  Добре дошли</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <a class="nav-link" href="aboutus.html">За нас<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="guestbooking.html">Резервирай час</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="blog.html">Блог</a>
        </li>
      </ul>
    
    </div>
  </nav>

  <h1 class="list-group-item list-group-item-action flex-column align-items-start active btn btn-info">Съвети за успешно справяне с акнето - от Специалист Н.Ковачев</h1>
    <br>
    <p>За жалост акнето не е проблем само на подрастващите, а и на голям процент от възрастното население. Лъщящата кожа, широките пори и гнойните пъпки са неприятен козметичен и здравословен проблем, решаването, на който е цел на тази анти-акне терапия. Борба с акнетичната кожа – терапията включва почистване на кожата, отстраняване от порите на натрупаната мастна секреция и кисти, с което се премахва възможността за възпалителни процеси. Терапията е за дълбоко почистване на проблемна и мазна кожа. Идеална серия за поддържане на акнетичната кожа, независимо от стадия. Предотвратява образуването на комедони, свива порите и почиства в дълбочина.

      Анти-акне терапия e процедура, кото се прилага с цел отстраняване на мъртвите клетки от най-горния слой на епидермиса, за да се даде възможност на кожата да диша и за по-доброто проникване на антибактериалните  продукти. </p>

   <p>  Акнето се среща най-често по време на пубертета. Нарича се още акне вулгарис (acne vulgaris). При обикновеното акне има няколко вида кожни промени – комедони, папули, пустули (пъпки) дори и единични възелчета. По-повърхностните промени по кожата се задържат няколко седмици, а по-дълбоките могат да се задържат и за месеци. След преминаване на възпаленията могат да останат петънца и белези. Повечето хора с акне имат повишена секреция на себум – себорея.

Използвайки къса дължина на светлинната вълна успява да контролира развитието на Propinumbacterium acnes. Това е бактерията, която е отговорна за зачервяването и възпламеняването на акнето. При лечението на акне с IPL е необходимо да бъдат проведени 6 до 12 терапии в зависимост от дълбочината на съдовете. Препоръчително е курсовете да се провеждат в интервал от 21 дни. Спа Деметра разполага с последен модел IPL апарат за борба с акнето. Тази технология се развива от 8 години и до този момент успешно се използва за лечение на акне.</p> 

<?php 
include ("footer.html");
?>
</body>
</html>