<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UktcBeautySalon - Блог</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style/blogHairCare.css">

<style>
  h1, h6, p, img {
    text-align:left;

}
    h1{
        text-align: center;
     
    }
    
</style>
<body>
  <?php 
     include ("navbar.html");
     ?>



    <h1 class="list-group-item list-group-item-action flex-column align-items-start active btn btn-info">Грижа за косата - Блогът на Яна</h1>
    <h6>Здравейте, момичета!</h6>
    <br>
    <p>Като жена, разбирам колко важна е нашата коса и как тя може да ни помогне да изразим себе си. В младите години косата ни може да бъде особено чувствителна и е важно да й обърнем подходящо внимание и грижа. Затова съм тук, за да ви предоставя няколко практични съвети относно грижата за косата ви.
    </p>
    <ol>
      <p>Подхранване с балсам:
        След измиване, използвайте балсам, който ще помогне да се подхраните и овлажните косата си. Нанесете го по дължината на косата, избягвайки скалпа, и оставете го да действа според указанията на опаковката. Балсамът ще направи косата ви по-лесна за разресване и ще й придаде мекота и блясък.
        </p>
        <p>Избягвайте топлинни инструменти:
          Младите тинейджъри често имат желание да стилизират косата си с помощта на преси за изправяне, маша или сешоар. Въпреки че тези инструменти могат да са полезни за специални поводи, трябва да ги използвате с умереност. Прекомерната употреба на топлинни инструменти може да повреди косата и да я направи суха и крехка. Ако ги използвате, винаги нанасяйте защитен спрей преди това.
          </p>
          <p>Хранителен режим и хидратация:
            Здравата коса започва отвътре. Уверете се, че се храните балансирано и пиете достатъчно вода. Включете в диетата си храни, богати на протеини, витамини и минерали, като яйца, риба, ягоди, шпинат и орехи. Това ще помогне на косата ви да бъде здрава и блестяща.
          </p>
    </ol>
<p>В България са много добри продуктите на Revolution Hair, който предлага широка гама от спрейове, балсами и кодиционери, за да остане вашата коса все така блестяща.
</p>
<img src="https://cdn.notinoimg.com/detail_zoom/revolution_haircare/5057566549615_01-o/revolution-haircare-plex-bond-restore-kit_.jpg" alt="perfume" title="ahmed al mahribi" width="40%" height="40%">


</body>
</html>