<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UktcBeautySalon - Coming Soon!</title>
    <style>
        h1
        {
            padding-top: 200px;
            padding-bottom: 200px;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" href="wave.css">
</head>
<body>
    <?php 
    include ("navbar.html");
    ?>
<div class="wave"></div>
<h1>Очаквайте скоро страницата да бъде доработена!</h1>


 
 
    <?php 
    include("footer.html");
    ?>
</body>
</html>