

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Начало - UktcBeautySalon</title>
    <link rel="icon" type="image/x-icon" href="snimki/favicon.jpg.avif">
   



</head>
<link rel="stylesheet" href="beautySalon.css?v=16">
<body>

  <?php 
  include ("navbar.html");
  ?>
<div class="container">
  <a href="index.php?controller=login">
      <button type ="button"  class="button">Влезте в Профила си</button>
    </a>
    </div>
  


      

  
</body>
</html> 